washing-machine.json
[{"id":"f6c93b7aafbf0b85","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"8187737bffe13a27","type":"mqtt out","z":"f6c93b7aafbf0b85","name":"RELAY190 MQTT","topic":"cmnd/RELAY190/Power","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"fb252a42.e9ddf8","x":710,"y":120,"wires":[]},{"id":"a8c670e817b5e1d5","type":"debug","z":"f6c93b7aafbf0b85","name":"190 debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":180,"wires":[]},{"id":"7749e019a6c9208c","type":"mqtt in","z":"f6c93b7aafbf0b85","name":"Relay remote control","topic":"RELAY190/Control","qos":"1","datatype":"auto","broker":"fb252a42.e9ddf8","inputs":0,"x":110,"y":180,"wires":[["5d26e0d2cff62c7a"]]},{"id":"ac41c9c00653ec1f","type":"inject","z":"f6c93b7aafbf0b85","name":"ON","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"ON","payloadType":"str","x":190,"y":240,"wires":[["5d26e0d2cff62c7a"]]},{"id":"45f5edd5100f1c9e","type":"inject","z":"f6c93b7aafbf0b85","name":"OFF","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"OFF","payloadType":"str","x":190,"y":280,"wires":[["5d26e0d2cff62c7a"]]},{"id":"918d7f761bfc4130","type":"comment","z":"f6c93b7aafbf0b85","name":"Config","info":"Gosund # 190\n\n'Washing machine'\n\nSet the telemetry period to 30 seconds on the command line in Tasmota and then save the setting:\n\nteleperiod 30\nrestart 1\n\nTODO:\n\nThe fow detects that the washing machine cycle starts as soon as it receives one reading that meets the minimum current threshold. It would be better to have a counter so that, say, 3 consecutive positive readings determined that the machine was one, This would prevent false start notifications due to power glitches.\n\n","x":55,"y":40,"wires":[]},{"id":"82d5c3fa61da55f7","type":"mqtt in","z":"f6c93b7aafbf0b85","name":"Relay button","topic":"stat/RELAY190/POWER","qos":"1","datatype":"auto","broker":"fb252a42.e9ddf8","inputs":0,"x":90,"y":120,"wires":[["5d26e0d2cff62c7a"]]},{"id":"5d26e0d2cff62c7a","type":"ui_switch","z":"f6c93b7aafbf0b85","name":"Power Control","label":"Power Control","tooltip":"","group":"db305ea4a65bd55e","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"cmnd/RELAY190/Power","topicType":"str","style":"","onvalue":"ON","onvalueType":"str","onicon":"","oncolor":"","offvalue":"OFF","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":400,"y":120,"wires":[["b418b53081f396c0","8187737bffe13a27"]]},{"id":"f32f6af2462fb878","type":"mqtt in","z":"f6c93b7aafbf0b85","name":"Telemetry","topic":"tele/RELAY190/SENSOR","qos":"1","datatype":"auto","broker":"fb252a42.e9ddf8","nl":false,"rap":false,"inputs":0,"x":80,"y":400,"wires":[["28451a3854115005","52cf6db1bbcb6f57"]]},{"id":"28451a3854115005","type":"function","z":"f6c93b7aafbf0b85","name":"Extract telemetry","func":"var timestamp=context.get('timestamp') || '';\nvar tstamp;\nvar hours=context.get('hours') || 0;\nvar minutes=context.get('minutes') || 0;\nvar d=context.get('d') || new Date();\n\nif (msg.payload == false) {\n    context.set('timestamp',''); // Clear timestamp\n    return null;\n}\n\nif (msg.payload == true) return null;\n\nconst Tasmota=JSON.parse(msg.payload);\n \nvar msg1 = {payload:Tasmota.ENERGY.Current};\nvar msg2 = {payload:Tasmota.ENERGY.Voltage};\nvar msg3 = {payload:Tasmota.ENERGY.Power};\nvar msg4 = {payload:false};\n\nvar current = Tasmota.ENERGY.Current;\n\n//Washing machine current > 0.1A = Machine is on. Adjust as necessary\nif (current > +0.100) \n{\n    msg4 = {payload:true}; \n    node.status({fill:\"red\",shape:\"dot\",text:current + 'A'});\n    if (context.get(\"timestamp\") == '') \n    {\n      hours = (d.getHours() < 10 ? '0' : '') + d.getHours();\n      minutes=(d.getMinutes() < 10 ? '0' : '') + d.getMinutes();\n\n      tstamp=hours + ':' + minutes;\n      context.set('timestamp',tstamp);\n      //msg={payload:timestamp};\n    }  \n}   \nelse \n    { \n        node.status({fill:\"grey\",shape:\"dot\",text:current + 'A'});\n        context.set('timestamp',''); // Clear timestamp\n    }\n\nreturn [msg1,msg2, msg3, msg4, {payload:tstamp}];\n\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":240,"wires":[["340742b15cc16908","a8c670e817b5e1d5","e61de26932005a77"],["b5387e684095eb30"],["f2862c22a90dae41"],["09f2efb179287027","a8c670e817b5e1d5"],["97845e1ad2db6db2"]]},{"id":"340742b15cc16908","type":"ui_gauge","z":"f6c93b7aafbf0b85","name":"Current","group":"db305ea4a65bd55e","order":7,"width":0,"height":0,"gtype":"gage","title":"Current","label":"A","format":"{{value}}","min":0,"max":"13","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":260,"wires":[]},{"id":"b5387e684095eb30","type":"ui_gauge","z":"f6c93b7aafbf0b85","name":"Voltage","group":"db305ea4a65bd55e","order":9,"width":0,"height":0,"gtype":"gage","title":"Voltage","label":"V","format":"{{value}}","min":0,"max":"275","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":760,"y":300,"wires":[]},{"id":"f2862c22a90dae41","type":"ui_gauge","z":"f6c93b7aafbf0b85","name":"Watts","group":"db305ea4a65bd55e","order":8,"width":0,"height":0,"gtype":"gage","title":"Wattage","label":"W","format":"{{value}}","min":0,"max":"3500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":340,"wires":[]},{"id":"3b76953ecbaa1f86","type":"ui_led","z":"f6c93b7aafbf0b85","order":2,"group":"db305ea4a65bd55e","width":0,"height":0,"label":"Program Running","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#808080","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Program Running","x":850,"y":460,"wires":[]},{"id":"1f11f61da616d47f","type":"inject","z":"f6c93b7aafbf0b85","name":"True","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":580,"wires":[["e9334d4bd99e52a1"]]},{"id":"dc54f6d1c18fc5f9","type":"inject","z":"f6c93b7aafbf0b85","name":"False","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":110,"y":620,"wires":[["e9334d4bd99e52a1"]]},{"id":"e9334d4bd99e52a1","type":"function","z":"f6c93b7aafbf0b85","name":"Timer Control","func":"\nif (msg.payload == true) {\n      msg.topic = 'control';\n      msg.payload = 'cancel';\n    } else msg.payload = true;\n    \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":640,"wires":[["cee6f5ea8f44c1a2"]]},{"id":"cee6f5ea8f44c1a2","type":"countdown","z":"f6c93b7aafbf0b85","name":"Countdown","topic":"Countdown","payloadTimerStart":"true","payloadTimerStartType":"bool","payloadTimerStop":"false","payloadTimerStopType":"bool","timer":"3","resetWhileRunning":false,"setTimeToNewWhileRunning":false,"startCountdownOnControlMessage":false,"minuteCounter":true,"x":550,"y":660,"wires":[["3b76953ecbaa1f86","28451a3854115005","939b32e765c9423e"],["28a56afd211af8d5"]]},{"id":"99b1be7439880afc","type":"inject","z":"f6c93b7aafbf0b85","name":"Stop early","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"cancel","payloadType":"str","x":100,"y":700,"wires":[["cee6f5ea8f44c1a2"]]},{"id":"52cf6db1bbcb6f57","type":"debug","z":"f6c93b7aafbf0b85","name":"Telemetry","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":200,"y":480,"wires":[]},{"id":"b418b53081f396c0","type":"ui_led","z":"f6c93b7aafbf0b85","order":1,"group":"db305ea4a65bd55e","width":0,"height":0,"label":"Power ON","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"ON","valueType":"str"},{"color":"#808080","value":"OFF","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Power ON","x":620,"y":80,"wires":[]},{"id":"89c1d5ba12846501","type":"ui_text","z":"f6c93b7aafbf0b85","group":"db305ea4a65bd55e","order":5,"width":0,"height":0,"name":"End of Prog Countdown (3 min)","label":"End of Prog Countdown (3 min)","format":"{{msg.payload}}","layout":"row-spread","x":830,"y":600,"wires":[]},{"id":"97845e1ad2db6db2","type":"ui_text","z":"f6c93b7aafbf0b85","group":"db305ea4a65bd55e","order":3,"width":0,"height":0,"name":"Last Program Started","label":"Last Program Started","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":380,"wires":[]},{"id":"e61de26932005a77","type":"ui_chart","z":"f6c93b7aafbf0b85","name":"Current Chart","group":"db305ea4a65bd55e","order":6,"width":0,"height":0,"label":"Current Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"13","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":740,"y":220,"wires":[[]]},{"id":"964d7e7d5434159d","type":"inject","z":"f6c93b7aafbf0b85","name":"Reset timestamp","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":120,"y":340,"wires":[["28451a3854115005"]]},{"id":"09f2efb179287027","type":"rbe","z":"f6c93b7aafbf0b85","name":"Only pass changes","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":450,"y":340,"wires":[["e9334d4bd99e52a1","162562d0deb8a76f"]]},{"id":"162562d0deb8a76f","type":"function","z":"f6c93b7aafbf0b85","name":"Only pass true","func":"\nif (msg.payload == false) return null; \n\nreturn msg; ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":460,"wires":[["3b76953ecbaa1f86","bed3613656baaeec"]]},{"id":"8b4cb72dc8cf7b37","type":"e-mail","z":"f6c93b7aafbf0b85","server":"","port":"","secure":false,"tls":false,"name":"emailaddress@here.xyz","dname":"Send email ","credentials":{"userid":"","password":""},"x":850,"y":500,"wires":[]},{"id":"0efbfcb5be919dc9","type":"inject","z":"f6c93b7aafbf0b85","name":"True","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":310,"y":780,"wires":[["939b32e765c9423e"]]},{"id":"53dcd8482aeadef6","type":"inject","z":"f6c93b7aafbf0b85","name":"False","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":310,"y":820,"wires":[["939b32e765c9423e"]]},{"id":"939b32e765c9423e","type":"function","z":"f6c93b7aafbf0b85","name":"Setup Stop Email + Announce","func":"\nmsg.from = \"nodered@techmarque.com\";\n\nif (msg.payload == true) return [null,null];\n\nvar d=new Date();\nvar hours = (d.getHours() < 10 ? '0' : '') + d.getHours();\nvar minutes=(d.getMinutes() < 10 ? '0' : '') + d.getMinutes();\nmsg.topic = 'Washing Machine Stopped ' + hours + ':' + minutes ;\n\nmsg.payload = 'Have a nice day!';\nvar msg1 = {payload:true};\n\nreturn [msg,msg1]\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":820,"wires":[["220997b164bee17f","8b4cb72dc8cf7b37"],["8be809bef82881a9","0a3ec46720b5443c"]]},{"id":"220997b164bee17f","type":"debug","z":"f6c93b7aafbf0b85","name":"email","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":700,"wires":[]},{"id":"25a16f1db26a526c","type":"ui_audio","z":"f6c93b7aafbf0b85","name":"Voice Announce","group":"db305ea4a65bd55e","voice":"urn:moz-tts:sapi:Microsoft Hazel Desktop - English (Great Britain)?en-GB","always":true,"x":880,"y":880,"wires":[]},{"id":"8be809bef82881a9","type":"trigger","z":"f6c93b7aafbf0b85","name":"","op1":"Washing Machine Program Complete","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":660,"y":880,"wires":[["25a16f1db26a526c"]]},{"id":"6168acbe139d8886","type":"inject","z":"f6c93b7aafbf0b85","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":310,"y":880,"wires":[["8be809bef82881a9"]]},{"id":"b082253f508eb246","type":"function","z":"f6c93b7aafbf0b85","name":"Setup Start Email","func":"\nif (msg.payload !== true) return null;\n\nmsg.from = \"nodered@techmarque.com\";\n\nvar d=new Date();\nvar hours = (d.getHours() < 10 ? '0' : '') + d.getHours();\nvar minutes=(d.getMinutes() < 10 ? '0' : '') + d.getMinutes();\nmsg.topic = 'Washing Machine Started ' + hours + ':' + minutes ;\n\nmsg.payload = 'Here we go...!';\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":520,"wires":[["8b4cb72dc8cf7b37"]]},{"id":"740ef2b99682c535","type":"inject","z":"f6c93b7aafbf0b85","name":"True","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":470,"y":560,"wires":[["b082253f508eb246"]]},{"id":"537f5634df5ac6fa","type":"ui_text","z":"f6c93b7aafbf0b85","group":"db305ea4a65bd55e","order":4,"width":0,"height":0,"name":"Last Program Ended","label":"Last Program Ended","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":780,"wires":[]},{"id":"0a3ec46720b5443c","type":"function","z":"f6c93b7aafbf0b85","name":"Timestamp","func":" // msg  = full timestamp including date\n // msg2 = hour:min only\n \n    var d=new Date();\n    var day=(d.getDate() < 10 ? '0' : '') + d.getDate();\n    var month=(d.getMonth() < 10 ? '0' : '') + (1 + d.getMonth());\n    var year=d.getFullYear(); //year as a four digit number (yyyy)\n    var hours = (d.getHours() < 10 ? '0' : '') + d.getHours();\n    var minutes=(d.getMinutes() < 10 ? '0' : '') + d.getMinutes();\n    //var seconds= (d.getSeconds() < 10 ? '0' : '') + d.getSeconds();\n\n    msg2={payload:hours + ':' + minutes};\n    msg ={payload:hours + ':' + minutes + ' ' + day + '-' + month + '-' + year};\n    node.status({fill:\"green\",shape:\"dot\",text:hours + ':' + minutes + ' ' + day + '-' + month + '-' + year});\n \nreturn [msg,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":760,"wires":[[],["537f5634df5ac6fa"]]},{"id":"30c4f739982e7921","type":"inject","z":"f6c93b7aafbf0b85","name":"True","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":270,"y":400,"wires":[["09f2efb179287027"]]},{"id":"2a090c478370ab94","type":"inject","z":"f6c93b7aafbf0b85","name":"False","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":270,"y":440,"wires":[["09f2efb179287027"]]},{"id":"28a56afd211af8d5","type":"function","z":"f6c93b7aafbf0b85","name":"Format the time","func":"var duration = msg.payload;\n\nif (duration < 0) {duration = 0}\n\n// Hours, minutes and seconds\nvar hrs = ~~(duration / 3600);\nvar mins = ~~((duration % 3600) / 60);\nvar secs = ~~duration % 60;\n\n// Output like \"1:01\" or \"4:03:59\" or \"123:03:59\"\nvar ret = \"\";\n\nif (hrs > 0) {\n    ret += \"\" + hrs + \":\" + (mins < 10 ? \"0\" : \"\");\n}\n\nret += \"\" + mins + \":\" + (secs < 10 ? \"0\" : \"\");\nret += \"\" + secs;\nmsg.payload = ret;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":600,"wires":[["89c1d5ba12846501"]]},{"id":"bed3613656baaeec","type":"delay","z":"f6c93b7aafbf0b85","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":440,"y":520,"wires":[["b082253f508eb246"]]},{"id":"fb252a42.e9ddf8","type":"mqtt-broker","broker":"192.168.2.18","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"db305ea4a65bd55e","type":"ui_group","name":"Washing Machine","tab":"7c5bd22ad744115b","order":2,"disp":true,"width":"6","collapse":true},{"id":"7c5bd22ad744115b","type":"ui_tab","name":"Washing Machine","icon":"dashboard","order":3,"disabled":false,"hidden":false}]